name: Deploy Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  STACK_NAME: fusionems-core

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::793439286972:role/fusionems-github-deploy-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy CloudFormation
        run: |
          aws cloudformation deploy \
            --stack-name $STACK_NAME \
            --template-file infra/cloudformation/root.yml \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_IAM CAPABILITY_AUTO_EXPAND \
            --region $AWS_REGION \
            --parameter-overrides \
              Env=prod \
              AppName=fusionems-quantum \
              RootDomainName=app.fusionemsquantum.com \
              ApiDomainName=api.fusionemsquantum.com \
              HostedZoneId=Z0858801IZXAHSWCPH85 \
              ImageTagFrontend=latest \
              ImageTagBackend=latest \
              NestedTemplatesBucket=fusionemsquantum-cfn-artifacts-prod
