name: Deploy Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  STACK_NAME: fusionems-core
  ARTIFACT_BUCKET: fusionemsquantum-cfn-artifacts-prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::793439286972:role/fusionems-github-deploy-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Validate Template
        run: |
          aws cloudformation validate-template \
            --template-body file://infra/cloudformation/root.yml

      - name: Package CloudFormation
        run: |
          aws cloudformation package \
            --template-file infra/cloudformation/root.yml \
            --s3-bucket $ARTIFACT_BUCKET \
            --output-template-file packaged.yml

      - name: Deploy Stack
        run: |
          aws cloudformation deploy \
            --template-file packaged.yml \
            --stack-name $STACK_NAME \
            --region $AWS_REGION \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_IAM CAPABILITY_AUTO_EXPAND \
            --parameter-overrides \
              Env=prod \
              AppName=fusionems-quantum \
              RootDomainName=app.fusionemsquantum.com \
              ApiDomainName=api.fusionemsquantum.com \
              HostedZoneId=Z0858801IZXAHSWCPH85 \
              ImageTagFrontend=latest \
              ImageTagBackend=latest \
              DesiredCount=2 \
              NestedTemplatesBucket=$ARTIFACT_BUCKET
