name: Deploy Infra
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]
    paths:
      - 'infra/**'
      - '.github/workflows/deploy-infra.yml'
permissions:
  id-token: write
  contents: read
jobs:
  deploy-infra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Validate and deploy infra stack
        run: |
          aws cloudformation validate-template --template-body file://infra/cloudformation/root.yml
          aws cloudformation deploy \
            --stack-name "${{ vars.CFN_STACK_NAME }}" \
            --template-file infra/cloudformation/root.yml \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --no-fail-on-empty-changeset \
            --parameter-overrides \
              Env="${{ vars.CFN_ENV }}" \
              RootDomainName="${{ vars.CFN_ROOT_DOMAIN_NAME }}" \
              ApiDomainName="${{ vars.CFN_API_DOMAIN_NAME }}" \
              HostedZoneId="${{ vars.CFN_HOSTED_ZONE_ID }}" \
              AcmCertificateArnUsEast1="${{ vars.CFN_ACM_CERT_ARN_US_EAST_1 }}" \
              ImageTag="${{ github.sha }}"
